/* Soluzione qui */

@media screen and (min-width: 768px) {

  /*Il logo nell'header si allinea a sinistra*/
  #topbar {
    justify-content: flex-start;
  }

  /* Il padding del contenuto principale della pagina aumenta */
  main {
    padding: 50px;
  }

  /*Compare il testo "(Dolce Tradizionale)"*/
  .recipe-origin {
    display: inline;
  }

  /*La grandezza del titolo diventa più grande*/
  .recipe-name {
    font-size: 2.2rem;
  }

  /*Le informazioni della ricetta sotto il video si dispongono a griglia*/
  ul {
  display: flex;
  flex-wrap: wrap;
  }

  .quick-notes ul li {
  width: calc(100% / 3);
  }

  /*I bottoni social si allargano*/
  .social-networks button {
    flex-grow: 1;  /*spazio diviso equamente tra i bottoni*/
  }

  /*compare il banner pubblicitario*/
  .ads {
    display: block;
  }

  /*l'immagine nella descrizione della ricetta viene circondata dal testo*/
  .presentation img {
    float: left;
    margin: 20px;
  }

}
    
@media screen and (min-width: 992px) { 

 /*La grandezza el titolo della ricetta aumenta ancora di più*/ 
  .recipe-name {
      font-size: 3rem;
     } 

 /*Le informazioni della ricetta tornano a disporsi una sotto l'altra*/
   .quick-notes ul {
    display: flex;
    flex-direction: column;
  }

  .quick-notes li {
    width: 50%;
  }
  
 /*Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro*/
   .recipe-card { 
      display: flex;
     }

   .recipe-video,
   .recipe-info {
      width: 50%; 
      height: auto;
     } 

 /*Compaiono i nomi delle piattaforme social*/ 
    .social-networks .label { 
      display: inline; 
     } 

  /*Nel footer i dati del sito e il menu di navigazione si dispongono sulla stessa linea ma su lati opposti*/ 
  footer {  
    display: flex;     
    align-items: center;
    text-align: left;
      ul {
        justify-content: flex-end;
      }      
  }
    address,
    nav {
      width: 50%; 
      height: auto;
     } 

}


@media screen and (min-width: 576px) {

  /*l'immagine nella descrizione della ricetta viene circondata dal testo anche su mobile ma solo se c'è spazio sufficiente, quindi a partire da 576px */
  .presentation img {
    float: left;
    margin: 10px 10px;
  }

  /*I bottoni social si allagano già su dispositivi mobile più grandetti*/
  .social-networks button {
    flex-grow: 1;
  }
}